{% load static %}

<footer class="page-footer black">
  <div class="container">
    <h3 class="center"><u>Contact us</u></h3>
    <h6 class="center"><i>get in touch</i></h6>
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MIRAI</h5>
        <ul>
          <li><p>29 rue du Bois Galon</p></li>
          <li><p>94120 Fontenay sous Bois</p></li>
          <li><p>FRANCE</p></li>
          <li><p>contact@dapp.paris</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="#"><i>NTSOLI EGOLO DIMITRI</i></a>
    </div>
  </div>
</footer>
