{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Dapp Test</title>

  {% include "authentication/stylesheet.html" %}
</head>
<body>
  {% include 'authentication/header.html' %}
  {% include 'authentication/banner.html' %}
  <div id="whoweare" class="container">
    <div class="section">
      <h2 class="center section-title">Who we are</h2>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12">
          <div class="icon-block center">
            <h3 class="light center">Blockchain developers</h3>
            <p class="center">Thanks to the blockchain, we give you more Transparency, Security, Traceability and efficiency.</p>
            <p class="center">Let us know your project and goal.</p>
            <a href="#footer" class="waves-effect waves-light btn center red lighten-1"><i class="material-icons left">email</i>Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="container">
    <div class="section">
      <h2 class="center section-title">Our Skills</h2>
      <p class="center"><i>what we do</i></p>
      <div class="row">
        <div class="col s6 l3">
          <div class="clearfix">
              <div class="c100 p70 skill-color">
                  <span>90%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
          </div>
          <h5><i>ethereum</i></h5>
        </div>

        <div class="col s6 l3">
          <div class="clearfix">
              <div class="c100 p70 skill-color">
                  <span>70%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
          </div>
          <h5><i>front end</i></h5>
        </div>

        <div class="col s6 l3">
          <div class="clearfix">
              <div class="c100 p70 skill-color">
                  <span>80%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
          </div>
          <h5><i>backend</i></h5>
        </div>

        <div class="col s6 l3">
          <div class="clearfix">
              <div class="c100 p70 skill-color">
                  <span>75%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
          </div>
          <h5><i>production</i></h5>
        </div>
      </div>

    </div>
  </div>

<div id="services" class="container">
  <div class="section">
    <h2 class="center section-title">Our services</h2>
    <p class="center"><i>what we offer</i></p>

  </div>
</div>
<div class="section" style="background-image: url('{% static "images/blockchain.png"%}')">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <div class="card">
          <div class="card-content services-card">
            <h6 class="card-title center"><u>Our Products</u></h6>
            <ul class="services-list">
              <li>Ethereum, Corda and Hyperledger network</li>
              <li>Decentralized Ethereum Apps</li>
              <li>Web apps</li>
              <li>API creation</li>
              <li>PSD2</li>
              <li>WebServices</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-content services-card">
            <h6 class="card-title center"><u>Technology</u></h6>
            <ul class="services-list">
              <li>Javascript</li>
              <li>web3</li>
              <li>Solidity</li>
              <li>Html/css</li>
              <li>REST/SOAP</li>
              <li>Wordpress/Bootstrap</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="partners" class="container">
    <div class="section">
      <h2 class="center section-title">They trusted us</h2>
      <div class="row partners">
        <div class="col s12 l6 center">
          <img class="right partner-img" src="{% static 'images/travelex.jpg' %}" style="width: 50%;" alt="Travelex logo">
        </div>
        <div class="col s12 l6">
          <img class="partner-img" src="{% static 'images/ditto.jpg' %}" style="width: 50%;" alt="Ditto bank">
        </div>
      </div>

    </div>
  </div>

  {% include 'authentication/footer.html' %}

  {% include 'authentication/script.html' %}
  </body>
</html>
